.navbar {
    display: flex;
    background-color: grey;
    justify-content: center;
    
}
.box1{
    display: flex;
    display: inline-block;
    margin: 20px;
    
}
.box2{display: flex;
    display: inline-block;
    margin: 20px;
}
.box3{
    display: flex;
    display: inline-block;
    margin: 20px;
}
.box4{
    display: flex;
    display: inline-block;
    margin: 20px;
}
.mini-layout{
    display: flex;
    border: solid 3px;
    display: inline-block;
    size: auto;

}
ul{
    list-style: none;
}
.icons{
    margin: 2px;
}
.container{
    display: flex;
}
.icons .navbar{
    flex: 1;
}